{% extends 'base.html' %}


{% block content %}

<h1 class="titleheadline">{{article.title}}</h1>
<img src="{{article.image}}" alt="">
<p class="titleheadline">{{article.description}}</p>
<p class="titleheadline"><a href="{{article.url}}">{{article.url}}</a></p>
    


<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p class="titleheadline">
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit" class="btn btn-outline-light">Submit</button>
</form>


{% endblock %}